{% extends 'base.html' %}

{% block content %}

<main>
    <section class=" w-full max-w-[750px] bg-violet-300 text-black m-auto mt-20 px-6  outline  outline-gray-300 shadow-slate-400 outline-1">
       <div class="">
          <p>This is a simple Django email sender created with web technologies such as HTML5, TailwindCSS
              and with Django framework as the backend. This is the first project that I built with Django. 
              I hope you like it. 
                  <br><br>
              The design is actually very basic, I know, I am not a design person, hahaha.
               <br><br>
              Thank you&#10084;
          </p>
       </div>
    </section>  
 </main>


{% endblock %}